body {
    background-color: #222831;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    color: #00ad85;
    text-align: center;
}

.secondContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 65%;
    margin: auto;
}

.toolBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 10px solid #393e46;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    background-color: #393e46;
    justify-content: center;
}

.toolBox h2 {
    color: whitesmoke
}

.toolContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.colorTools {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}



#colorPicker {
    height: 30px;
    width: 30px;
}

#backgroundColorPicker {
    height: 30px;
    width: 30px;
}

.spanText {
    color: white;
}


.allTools {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button.tools {
    padding: 8px 15px;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: whitesmoke;

}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.toggleGrid,
.resetBtn {
    padding: 8px 12px;
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 5px;
}

.resetBtn:hover,
.toggleGrid:hover {
    background-color: #00ad85;
}

#gridContainer {
    width: 570px;
    height: 570px;
    display: flex;
    margin: auto;
    border: 15px solid #393e46;
    border-radius: 5px;
}

.row {
    display: flex;
    flex: auto;
    min-width: 5px;
    text-align: center;
    display: inline-block;

}

.cell {
    display: flex;
    flex: auto;
    aspect-ratio: 1/1;
    min-height: 5px;
    min-width: 5px;
    /* <--- required (style column to fill the same space as the other columns) */
}

.cell:last-child {
    border-bottom: none;
}

.toggled {
    background-color: black;
    color: whitesmoke;
}

.borderLine {
    border: 1px solid black;
}